body{
    background-color: lightgray;
}

.fa {
    color: blue;
}

span{
    font-size: 10px;
}

.insidebox{
    background-color: white;
    padding: 40px 10px;
    margin-top: 50px;
}

a{
    border-bottom: 1px solid blue;
}

.text{
    margin: 10px 0px;
}

.box{
    padding: 60px 0px;
}